@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

body {
    font-family: "Chakra Petch", sans-serif;
    background: #f9f9f9;
    box-sizing: border-box;
}
