@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

body {
    font-family: "Chakra Petch", sans-serif;
    background: #f9f9f9;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center; /* Center all items horizontally */
    align-items: center;
    padding: 0em 30px;
    background-color: #fff;
    border-bottom: 2px solid #eaeaea;
}

.header-logo {
    height: 150px;
    margin-right: 20px;
}

.header-text {
    text-align: center;
    flex: 1; /* Let the text container grow as needed */
}

header h1 {
    margin: 0;
    font-size: 2.2em;
    color: #ff8210;
}

header p {
    font-size: 1.2em; /* Adjust the font size as needed */
    color: #0cc0df;
    margin: 0;
    padding-top: 0.5em; /* Add some space between the h1 and the paragraph */
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: left;
    border-top: 2px solid #ff8210;
    border-bottom: 2px solid #ff8210;
}

.feature-item {
    display: flex;
    align-items: center;
    flex-direction: row; /* Changed from column to row */
    gap: 1px; /* Spacing between image and text */
}

.feature-item img {
    width: 50px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
}

.feature-item p {
    color: #ff8210;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
}

/* Rest of your CSS */

footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
